.task-container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }
  
  .task {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .task:hover{
    background-color:whitesmoke;
  }
  
  .task-title {
    font-weight: bold;
  }
  
  .due-date {
    color: #888;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .complete-btn,.create-btn,.delete-btn {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
  }

  .create-btn{
    background-color: orange;
    color: white;
    margin-top: 20px;
  }
  
  .complete-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  
