<div class="task-container">
    <div class="task" *ngFor="let task of tasks"  (click)="openTaskDetailsDialog(task)">
        <div class="task-info">
            <div class="task-title">{{ task.title }}</div>
            <div class="due-date">Due on: {{ task.dueDate }}</div>
        </div>
        <div class="actions">
            <button class="complete-btn" *ngIf="!task.status" (click)="markComplete(task.id)">Complete</button>
            <button class="delete-btn" (click)="deleteTask(task.id)">Delete</button>
        </div>
    </div>
    <button class="create-btn" (click)="openTaskDetailsDialog()">Create Task</button>

    
